<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dropbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01A5087C1DB16A1100EF4545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01A508901DB16A1200EF4545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01A5089B1DB16A1200EF4545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
